{
  "presets": [
      ["@babel/env", {
        "targets": {
          "node": "8",
          "esmodules": false
        }
      }]
  ],
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread"
  ]
}
