{
  "extends": [
    "@tipe/eslint-config-tipe/server",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2]
  }
}
